<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MybatisBuilder.project.settings">
    <option name="connectionInfoList">
      <list>
        <ConnectionInfo>
          <option name="database" value="miaosha" />
          <option name="description" value="" />
          <option name="driverClass" value="" />
          <option name="driverLibrary" value="" />
          <option name="driverType" value="MySQL" />
          <option name="host" value="localhost" />
          <option name="id" value="4bc701bf1cf5429bb24a320641ea0211" />
          <option name="name" value="goods" />
          <option name="port" value="3306" />
          <option name="url" value="" />
          <option name="userName" value="root" />
        </ConnectionInfo>
      </list>
    </option>
    <option name="defaultParameters">
      <DefaultParameters>
        <option name="renameConfig">
          <Config>
            <option name="mapperTypePattern" value="" />
            <option name="exampleTypePattern" value="" />
            <option name="sqlFileNamePattern" value="" />
          </Config>
        </option>
        <option name="selectWithLockConfig">
          <SelectWithLockConfig>
            <option name="byPrimaryKeyWithLockOverride" value="" />
            <option name="byExampleWithLockOverride" value="" />
          </SelectWithLockConfig>
        </option>
      </DefaultParameters>
    </option>
    <option name="historyMap">
      <map>
        <entry key="JAVA_CLIENT_PACKAGE">
          <value>
            <list>
              <option value="mapper" />
            </list>
          </value>
        </entry>
        <entry key="JAVA_MODEL_PACKAGE">
          <value>
            <list>
              <option value="entity" />
            </list>
          </value>
        </entry>
        <entry key="SQL_MAP_PACKAGE">
          <value>
            <list>
              <option value="sqlmap" />
            </list>
          </value>
        </entry>
      </map>
    </option>
    <option name="lastGeneratorParamWrapper">
      <GeneratorParamWrapper>
        <option name="beginningDelimiter" value="" />
        <option name="defaultTableConfigWrapper">
          <TableConfigurationWrapper>
            <option name="countByExampleStatementEnabled" value="false" />
            <option name="deleteByExampleStatementEnabled" value="false" />
            <option name="domainObjectRenamingRule">
              <DomainObjectRenamingRule>
                <option name="replaceString" value="" />
                <option name="searchString" value="" />
              </DomainObjectRenamingRule>
            </option>
            <option name="generatedKeyWrapper">
              <GeneratedKeyWrapper>
                <option name="identity" value="false" />
              </GeneratedKeyWrapper>
            </option>
            <option name="selectByExampleStatementEnabled" value="false" />
            <option name="updateByExampleStatementEnabled" value="false" />
          </TableConfigurationWrapper>
        </option>
        <option name="endingDelimiter" value="" />
        <option name="javaClientConfig">
          <JavaClientGeneratorConfiguration>
            <option name="configurationType" value="XMLMAPPER" />
            <option name="targetPackage" value="mapper" />
            <option name="targetProject" value="$PROJECT_DIR$/src/main/java/org/example/" />
          </JavaClientGeneratorConfiguration>
        </option>
        <option name="javaModelConfig">
          <JavaModelGeneratorConfiguration>
            <option name="targetPackage" value="entity" />
            <option name="targetProject" value="$PROJECT_DIR$/src/main/java/org/example/" />
          </JavaModelGeneratorConfiguration>
        </option>
        <option name="selectedPlugins">
          <map>
            <entry key="com.chuntung.plugin.mybatis.builder.generator.plugins.LombokPlugin" />
            <entry key="com.chuntung.plugin.mybatis.builder.generator.plugins.MapperAnnotationPlugin">
              <value>
                <PluginConfigWrapper>
                  <option name="json" value="{&quot;customAnnotationType&quot;:&quot;org.springframework.stereotype.Repository&quot;}" />
                  <option name="type" value="com.chuntung.plugin.mybatis.builder.generator.plugins.MapperAnnotationPlugin$Config" />
                </PluginConfigWrapper>
              </value>
            </entry>
            <entry key="com.chuntung.plugin.mybatis.builder.generator.plugins.selectwithlock.SelectWithLockPlugin">
              <value>
                <PluginConfigWrapper>
                  <option name="json" value="{&quot;byPrimaryKeyWithLockOverride&quot;:&quot;&quot;,&quot;byExampleWithLockOverride&quot;:&quot;&quot;,&quot;byPrimaryKeyWithLockEnabled&quot;:true,&quot;byExampleWithLockEnabled&quot;:false}" />
                  <option name="type" value="com.chuntung.plugin.mybatis.builder.generator.plugins.selectwithlock.SelectWithLockConfig" />
                </PluginConfigWrapper>
              </value>
            </entry>
          </map>
        </option>
        <option name="selectedTables">
          <list>
            <TableInfo>
              <option name="database" value="miaosha" />
              <option name="domainName" value="SeckillGoods" />
              <option name="tableComment" value="" />
              <option name="tableName" value="seckill_goods" />
            </TableInfo>
          </list>
        </option>
        <option name="sqlMapConfig">
          <SqlMapGeneratorConfiguration>
            <option name="targetPackage" value="sqlmap" />
            <option name="targetProject" value="$PROJECT_DIR$/src/main/resources" />
          </SqlMapGeneratorConfiguration>
        </option>
        <option name="targetRuntime" value="MyBatis3" />
      </GeneratorParamWrapper>
    </option>
    <option name="tableInfoMap">
      <map>
        <entry key="miaosha#goods">
          <value>
            <TableInfo>
              <option name="database" value="miaosha" />
              <option name="domainName" value="Goods" />
              <option name="tableComment" value="" />
              <option name="tableName" value="goods" />
            </TableInfo>
          </value>
        </entry>
        <entry key="miaosha#goods_duing">
          <value>
            <TableInfo>
              <option name="database" value="miaosha" />
              <option name="domainName" value="GoodsDuing" />
              <option name="tableComment" value="" />
              <option name="tableName" value="goods_duing" />
            </TableInfo>
          </value>
        </entry>
        <entry key="miaosha#seckill_goods">
          <value>
            <TableInfo>
              <option name="database" value="miaosha" />
              <option name="domainName" value="SeckillGoods" />
              <option name="tableComment" value="" />
              <option name="tableName" value="seckill_goods" />
            </TableInfo>
          </value>
        </entry>
      </map>
    </option>
  </component>
</project>